<!-- 
Programación Reactiva 
    
La programación Reactiva es programación orientada al manejo de streams de datos asíncronos 
y la propagación del cambio.

Se basa en la idea de que los datos son un flujo continuo que cambia con el tiempo, y que el
sistema debe reaccionar a estos cambios de manera eficiente y escalable.


Stream: Un stream es un flujo de datos 
En la programación reactiva "todo es un stream" por lo que con RxJs, 
cualquier flujo de información será tratado como un stream.

Operators: Tap, Map, Filter, Reduce, Merge, Concat, etc.
Son funciones que se pueden aplicar a los observables para transformar y filtrar los datos.
-->

<app-header></app-header>

<div class="principal-content">
    <div class="content-body">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>