<div class="about-rxjs">
    <div class="rxjs-content">
        <h1>RxJS</h1>
        <p>
            Es una librería de javascript para programación reactiva la cuál usa observables para
            facilitar la composición de código asíncrono.
        </p>
    </div>
    <div class="content-rxjs-logo">
        <img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" alt="">
    </div>
</div>
<div class="content-body">
    <div class="about-basic-concepts">
        <h1>Programación Reactiva</h1>
        <p>
            La programación Reactiva es programación orientada al manejo de streams de datos asíncronos
            y la propagación del cambio.

            Se basa en la idea de que los datos son un flujo continuo que cambia con el tiempo, y que el
            sistema debe reaccionar a estos cambios de manera eficiente y escalable.
        </p>
    </div>
    <div class="about-basic-concepts">
        <h1>Stream</h1>
        <p>
            Un stream es un flujo de datos
            En la programación reactiva "todo es un stream" por lo que con RxJs,
            cualquier flujo de información será tratado como un stream.
        </p>
    </div>
    <div class="about-basic-concepts">
        <h1>Operadores</h1>
        <p>
            Tap, Map, Filter, Reduce, Merge, Concat, etc.
            Son funciones que se pueden aplicar a los observables para transformar y filtrar los datos.
        </p>
    </div>
</div>