/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a{
    text-decoration: none;
}

:root{
    --primary: #c2185b
}

::selection{
    color: white;
    background-color: var(--primary);
}

.principal-content{
    margin-top: 60px;
    width: 100%;
}

.content-body{
    padding: 30px;
}